h2 {
    color: red;
}
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    background-color: burlywood;
}
ul li {
    margin: 5px;
    background-color: rgb(197, 71, 71);
    list-style: none;
}